*{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 20px;
    background-color:#1e847f;
    font-weight: bolder;
}
.about {
    font-weight: 500px;
    font-size:x-large;
    top: -10px;
}
h1{
    color: #e2d810;
    font-family: monospace;
 }
 span{
     color:#ffc13b;
     font-style: oblique;
 }
.images{
    display: flex;
    justify-content: space-between;
}
#about strong{
   color: yellowgreen;
}

h2{
   color: gold;
   text-decoration: underline;
}
.content {
   display: flex;
   justify-content: space-between;
   margin: auto;  
}
img.chets{
    width: 200px;
    height: 200px;
}
img.red{
    width: 200px;
    height: 200px;
    float: right;
}
img.world{
    width: 200px;
    height: 200px;
    float: left;
    background-color: honeydew;
}
strong{
    color:goldenrod;
}

#one{
     display: flex;
    justify-content: space-between;
    margin-inline: 0;
}

