*{
  color: #1e3d59;
  font-size: medium;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div.form>p#intro{
  background-color: #e5e5dc;
  padding: 10px;
  margin: 2px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div.questionnaire{
  text-align: center;
  background-color: #ffc13b;
}
#intro{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

p.drugs{
  font-weight: 300px;
}

button{
  text-align: center;
  width: 10%;
  height: 10%;
  font-weight: bold;
  color: white;
  background-color: #1e847f;
  border-radius: 18px;
}