*{
  background-color: #7fb2c6;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#title{
  text-decoration: underline;
  text-align: center;
  color: #ffc13d;
}
li{
  text-align: center;
  color: #09078E;
  text-decoration: underline;
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  font-weight: bolder;
  padding-top: 20px;
}
p{
  font-size: medium;
}
  
img{
  border-radius: 50px 50px 50px 50px;
  width: 500px;
  height: 500px;
}