*{
  background-color: #7fb2c6;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#title{
  text-decoration: underline;
  text-align: center;
  color: #ffc13d;
}

.main{
  display:flex;
  justify-content: space-between;
  text-transform: uppercase;
  background-color:rgba(127,178,198,0.7);
  width:100%;
}

.logo{
  align-items: center;
  width: 150px;
  height: 150px;
}

ul li{
  display: inline-block;
  padding: 30px;
  color:red;
  cursor: pointer;
}

ul li a{
  text-decoration: none;
}

ul li a:hover{
  color:white;
}
div>li{
  text-align: center;
  color: #09078E;
  text-decoration: underline;
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  font-weight: bolder;
  padding-top: 20px;
}
p{
  font-size: medium;
}
  
img{
  border-radius: 50px 50px 50px 50px;
  width: 500px;
  height: 500px;
}
.container-services{
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
}
